* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.naw_bar {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 20px auto;
}
.naw_bar img {
  margin-top: 5px;
}

.header-icons img {
  padding-left: 25px;
}


.naw_bar input {
  padding-left: 48px;
  border-radius: 8px;
  border: none;
  background: #e5e5e5;
  width: 252px;
  height: 36px;
}

.header {
  display: flex;
  align-items: center;
  height: 60px;
  background: white;
  border: 1px solid #efefef;
  position: sticky;
  top: 0;
}
