.accounts {
  margin-top: 50px;
}
.user-block{
  height: 94px;
}
.suggestions {
  width: 300px;
  .all-suggestions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    button {
      background: transparent;
      border: none;
      color: #262626;

      font-weight: 500;
      font-size: 12px;
    }
    .alpha {
      font-weight: 400;
      font-size: 14px;
      height: 20px;
    }
  }
  .change {
    color: #0095f6;
    background: transparent;
    border: none;
    cursor: pointer;

  }
}
.my-account {
  .title {
    margin-right: 25px;
    p{
      height: 25px;
      margin-top: 7px;
    }
  }
  img {
    width: 56px;
    height: 56px;
    border-radius: 30px;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle {
  margin-top: 20px;
  .alpha {
    max-width: 300px;
    height: 54px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #8e8e8e;
  }
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  height: 60px;
  &__img {
    img {
      width: 32px;
      height: 32px;
      background: #c4c4c4;
      border-radius: 15px;
    }
  }
}
